.fundo-banner{
    display: none;
}

@media screen and (min-width: 1024px){
    .faixa-vermelha{
        background-color: var(--vermelho);
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 500px;
        left: 0;
    }
    .fundo-banner{
        overflow: hidden;
        height: 500px;
        display: block;
        width: 100%;
        left: 0;
    }
    .cont-banner{
        margin: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 100%;
    }
    .cont-texto{
        display: inline-block;
        margin: 126px 0 167px 0;
    }
    .cont-texto h1{
        font-size: 48px;
        font-weight: 700;
        line-height: 48px;
        color: var(--branco);
    }
    .cont-texto p{
        font-size: 18px;
        line-height: 27px;
        color: var(--branco);
        margin: 12px 0 32px 0;
    }
    .macarrao{
        margin-top: 164px;
        width: 371.03px;
    }
    .fundo-barra{
        padding: 24px;
        background-color: #FFFFFF;
        border-radius: 10px;
    }
}

